.detail {
    display: flex;
    width: 80%;
}

.detail img {
    max-width: 700px;
}

.detailContent {
    display: flex;
    flex-direction: column;
}

.marca {
    margin-top: 2em;
    margin-bottom: .5em;   
}

.modelo {
    margin-bottom: 1em;
}

.descripcion {
    font-family: 'Manrope', sans-serif;
    margin-bottom: 2em;
}

.precio {
    font-size: 1.2em;
}

.linkCarrito {
    margin: 2em auto;
    width: 30%;
    
    
}

.linkCarrito button {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 1.2em;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.linkCarrito button:hover {
    cursor: pointer;
}