.itemListContainer {
    width: 80%;
    margin: 2em auto;
    background-color: gray;
}
.main { 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo {
    text-align: center;
    margin: 1em auto;
}