.contenedorBotonesCategoria {
    width: 80%;
    height: 100%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.linksCategorias {
    width: 30%;
    height: 750px;
    background-color: grey;
    border-radius: 10px;
}

.botonCategoria {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonCategoria p {
    font-size: 2em;
}